.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #100b1f;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle{
	position: relative;
	overflow: hidden;
	clip-path: circle(90px at 90px 90px);
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.sky {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		height: 124px;
		background: #7DDFFC;		
		animation: sky-turns-black 4s infinite;
}

.moon {
		position: absolute;
		z-index: 2;
		top: 7px;
		left: 73px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background: #ffff;
		transform-origin: 50% 400%;
		animation: moon-goes-down 4s infinite;
}

.side-left {
		position: absolute;
		top: 67px;
		left: 35px;
		height: 57px;
		width: 116px;
		background: #969696;
	  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
		animation: pyramide-shading 4s infinite;
}
	
.side-right {
		position: absolute;
		top: 67px;
		left: 93px;
		height: 57px;
		width: 58px;
		background: #969696;
	  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
		animation: pyramide-shading 4s infinite reverse;
}
	
.shadow {
		position: absolute;
		z-index: 2;
		top: 124px;
		left: -80px;
		height: 30px;
		width: 360px;
		background: rgba(0,0,0,0.2);
		transform-origin: 50% 0%;
	  clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
		animation: shadow-on-the-floor 4s infinite;
}
	
.ground {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 56px;
		background: #363b26;
		animation: fading-sand 4s infinite;
}

@keyframes moon-goes-down {
  0% {
		background: #ffff;
    transform: rotate(-70deg);
  }
	
	30% {
		background: #ffff;
		transform: rotate(-28deg);
	}
	
	70% {
		background: #ffff;
	}

  100% {
		background: #F57209;
    transform: rotate(70deg);
  }
}

@keyframes sky-turns-black {
  0% {
    background: #3f3b5c;
  }
	
	30% {
		background: #34304f;
	}
	
	70% {
		background: #1c1530;
	}

  100% {
    background: #100b1f;
  }
}

@keyframes pyramide-shading {
  0% {
    background: #424954;
  }
	
	30% {
		background: #969696;
	}
	
	70% {
		background: #424954;
	}

  100% {
    background: #969696;
  }
}

@keyframes shadow-on-the-floor {
  0% {
		transform: scaleY(0);
	  clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
  }
	
	30% {
		transform: scaleY(1);
	  clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
	}
	
	55% {
		transform: scaleY(.4);
	}

	75% {
		transform: scaleY(1);
	}

  100% {
		transform: scaleY(0);
	  clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
  }
}

@keyframes fading-sand {
  0% {
    background: #6d7350;
  }
	
	30% {
		background: #585e39;
	}
	
	70% {
		background: #585e39;
	}

  100% {
    background: #6d7350;
  }
}
